<div class="dash container mt-4">
  <div class="header">
    <div class="left">
     <h2>{{ 'DASH.TITLE' | translate }}</h2>
      <div class="sub">{{ weekLabel() }}</div>
    </div>
    <div class="right">
<button nz-button nzType="default" (click)="goPrevWeek()">‹ {{ 'DASH.PREV' | translate }}</button>
<button nz-button nzType="default" (click)="goThisWeek()">{{ 'DASH.THISWEEK' | translate }}</button>
<button nz-button nzType="default" (click)="goNextWeek()">{{ 'DASH.NEXT' | translate }} ›</button>

    </div>
  </div>

  <!-- KPIs -->
  <div class="kpis" *ngIf="!loading(); else skeleton">
    <nz-card class="kpi">
      <div class="kpi-title">{{ 'DASH.SESSIONS' | translate }}</div>

      <div class="kpi-value">{{ kpi().sessions }}</div>
      <div class="kpi-tags">
<nz-tag nzColor="success">{{ 'DASH.EASY' | translate }}: {{ kpi().easy }}</nz-tag>
<nz-tag nzColor="warning">{{ 'DASH.MEDIUM' | translate }}: {{ kpi().medium }}</nz-tag>
<nz-tag nzColor="error">{{ 'DASH.HARD' | translate }}: {{ kpi().hard }}</nz-tag>
      </div>
    </nz-card>

    <nz-card class="kpi chart-card">
<div class="card-title">{{ 'DASH.SESSIONS_COMPARE' | translate }}</div>
      <apx-chart
        [series]="sessionsSeries"
        [chart]="sessionsOpts.chart"
        [dataLabels]="sessionsOpts.dataLabels"
        [stroke]="sessionsOpts.stroke"
        [xaxis]="sessionsOpts.xaxis"
        [yaxis]="sessionsOpts.yaxis"
        [legend]="sessionsOpts.legend"
        [grid]="sessionsOpts.grid"
        [tooltip]="sessionsOpts.tooltip">
      </apx-chart>
    </nz-card>

    <nz-card class="kpi chart-card">
<div class="card-title">{{ 'DASH.DIFFICULTY_SPLIT' | translate }}</div>
      <apx-chart
  [series]="difficultySeries"
  [chart]="{ type: 'donut', height: 260 }"
  [labels]="[ 'DASH.EASY' | translate, 'DASH.MEDIUM' | translate, 'DASH.HARD' | translate ]"
  [legend]="{ position: 'bottom' }"
  [tooltip]="tooltipPlain">
      </apx-chart>
    </nz-card>

    <nz-card class="kpi chart-card">
<div class="card-title">{{ 'DASH.TOP_MUSCLES' | translate }}</div>
      <apx-chart
        [series]="topMuscleSeries"
        [chart]="topMuscleOpts.chart"
        [dataLabels]="topMuscleOpts.dataLabels"
        [stroke]="topMuscleOpts.stroke"
        [xaxis]="topMuscleOpts.xaxis"
        [yaxis]="topMuscleOpts.yaxis"
        [legend]="topMuscleOpts.legend"
        [grid]="topMuscleOpts.grid"
        [tooltip]="topMuscleOpts.tooltip">
      </apx-chart>
    </nz-card>
  </div>

  <ng-template #skeleton>
    <div class="kpis">
      <nz-card class="kpi loading"></nz-card>
      <nz-card class="kpi loading"></nz-card>
      <nz-card class="kpi loading"></nz-card>
      <nz-card class="kpi loading"></nz-card>
    </div>
  </ng-template>

  <!-- Nutrition -->
  <div class="row mt-3">
    <div class="col-12 col-lg-5">
<nz-card nzTitle="{{ 'DASH.WEEKLY_MACROS' | translate }}">
        <apx-chart
           [series]="macrosDonutSeries"
  [chart]="macrosDonutOpts.chart"
  [labels]="macrosDonutOpts.labels"
  [legend]="macrosDonutOpts.legend"
  [tooltip]="macrosDonutOpts.tooltip">
        </apx-chart>
      </nz-card>
    </div>
    <div class="col-12 col-lg-7">
<nz-card nzTitle="{{ 'DASH.DAILY_MACROS' | translate }}">
        <apx-chart
          [series]="macrosStackedSeries"
          [chart]="macrosStackedOpts.chart"
          [dataLabels]="macrosStackedOpts.dataLabels"
          [stroke]="macrosStackedOpts.stroke"
          [xaxis]="macrosStackedOpts.xaxis"
          [yaxis]="macrosStackedOpts.yaxis"
          [legend]="macrosStackedOpts.legend"
          [grid]="macrosStackedOpts.grid"
          [tooltip]="macrosStackedOpts.tooltip">
        </apx-chart>
      </nz-card>
    </div>
  </div>
</div>
